<main>
    <h1>Hello index</h1>

    {{> header }}

    <button hx-get="/hobbies" hx-swap="outerHTML">
        Get hobbies
    </button>

    {{log 'simple log on terminal'}}

    <hr>

    <div x-data="{ show: false, title: 'dropdown' }" style="margin: 1em 0;">
        <p x-title="title"></p>
        <button type="button" @click="show = !show">
            Open dropdown
        </button>

        <div x-show="show" style="display: none;">
            <p>dropdown content...</p>
            <p>Hello {{form.name}}</p>
        </div>
    </div>

    <hr>

    {{#each form as |value key|}}

    {{#> input id=key value=value }}
    <label style="display: block;" for="{{key}}">{{key}}</label>
    {{/input}}

    {{/each}}

    {{#> input id='remeber' value='yes' }}
    <label style="display: block;" for="remeber">Remember info?</label>
    {{/input}}

    <hr>

    {{> user/card user="Ana" }}
    {{> user/card user=form.name }}

    {{#if ok}}
    <p>It's ok</p>
    {{else}}
    <p>It's not ok</p>
    {{/if}}

    {{> footer }}
</main>